body {
    color: #000;
}

h1, h2 {
    font-family: 'Aclonica', sans-serif;
    color: rgb(192, 188, 171);
    background-color: #695f52;
    margin: 15px 0px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

p {
    font-size: 0.9em;
    margin-bottom: 10px;
}