* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #c1ef70;
    margin: 20px;
}
@font-face {
    font-family: 'PressStart2P';
    src: url("fonts/PressStart2P.ttf"),
         url("fonts/PressStart2P.woff");
}
@font-face {
    font-family: 'Hylia Serif';
    src: url("fonts/HyliaSerifBeta-Regular.otf"),
         url("fonts/HyliaSerifBeta-Regular.woff");
}
header {
    margin: 0px auto;
    position: relative;
    text-align: center;
}
.line1 {
    color: #bc0000;
    text-transform: uppercase;
    font-family: 'PressStart2P', Courier, monospace;
    font-size: 18px;
    position: relative;
    left: 30px;
    top: -20px;
}
.line2 {
    color: #bc0000;
    font-family: 'Hylia Serif', 'Times New Roman', serif;
    font-size: 125px;
    letter-spacing: 10px;
    margin-top: -50px;
    margin-bottom: -20px;
    position: relative;
    top: -15px;
}
.line3 {
    color: gold;
    text-transform: uppercase;
    font-family: 'PressStart2P', Courier, monospace;
    font-size: 20px;
    background: linear-gradient(0deg, #c4873e 0%, #f2ea0d 40%, #c4873e 100%);
    background: -webkit-linear-gradient(0deg, #c4873e 0%, #f2ea0d 40%, #c4873e 100%);
    background: -ms-linear-gradient(0deg, #c4873e 0%, #f2ea0d 40%, #c4873e 100%);
    background: -moz-linear-gradient(0deg, #c4873e 0%, #f2ea0d 40%, #c4873e 100%);
    background: -o-linear-gradient(0deg, #c4873e 0%, #f2ea0d 40%, #c4873e 100%);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    position: relative;
    left: 30px;
    top: -10px;
}
#title-card, #gold-rupee{
    display: inline-block;
}
#gold-rupee, #chest img.green-rupee{
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}
#description {
    margin: 20px;
}
p {
    margin: 10px;
    color: darkgreen;
    font-family: 'PressStart2P', Courier, monospace;
    font-size: 12px;
    line-height: 18px;
}
b {
    color: red;
}
#instructions {
    margin: 0px auto;
    max-width: 935px;
    text-align: center;
}
#controls, #rules, #chest {
    display: inline-block;
    float: left;
}
#controls p, #rules p{
    color: black;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
}
#controls img {
    float: left;
    margin-bottom: 10px;
}
#controls p.direction {
    font-size: 10px;
}
#controls p.direction.up {
    margin-left: 100px;
}
#controls p.direction.left {
    float: left;
    margin-top: 40px;
}
#controls p.direction.right {
    float: left;
    margin-top: 40px;
}
#controls p.direction.down {
    clear: both;
    margin-left: 90px;
}
#chest {
    margin: 0px 50px;
}
#chest p {
    text-align: center;
    color: red;
    font-size: 20px;
}
#chest img.chest {
    margin: 20px;
}
#rules ul {
    text-align: left;
    font-family: 'PressStart2P', Courier, monospace;
    font-size: 12px;
    line-height: 20px;
}
footer {
    clear: both;
    text-align: center;
    font-family: 'PressStart2P', Courier, monospace;
}
footer p.footer {
    padding-top: 20px;
}
@keyframes float {
    0% { transform: translatey(0px);}
    50% { transform: translatey(-15px);}
    100% { transform: translatey(0px);}
}